APP_NAME=api-write
APP_ENV=development
APP_PORT=8080
DB_URL=postgres://auth_user:your_password_here@postgres-write:5432/auth_db?sslmode=disable
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
REDIS_URL=redis:6379
GRPC_PASSWORD_URL=grpc-password:50051
GRPC_TOKEN_URL=grpc-token:50052
TLS_CERT_PATH=/etc/ssl/certs/server.crt
TLS_KEY_PATH=/etc/ssl/certs/server.key
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
