POSTGRESQL_REPLICATION_MODE=slave
POSTGRESQL_REPLICATION_USER=repl_user
POSTGRESQL_REPLICATION_PASSWORD=your_repl_password_here
POSTGRESQL_MASTER_HOST=postgres-write
POSTGRESQL_MASTER_PORT_NUMBER=5432
POSTGRESQL_USERNAME=auth_user
POSTGRESQL_PASSWORD=your_password_here
POSTGRESQL_DATABASE=auth_db
