POSTGRESQL_REPLICATION_MODE=master
POSTGRESQL_REPLICATION_USER=repl_user
POSTGRESQL_REPLICATION_PASSWORD=your_repl_password_here
POSTGRESQL_USERNAME=auth_user
POSTGRESQL_PASSWORD=your_password_here
POSTGRESQL_DATABASE=auth_db
