APP_NAME=worker-events
APP_ENV=development
DB_WRITE_URL=postgres://auth_user:your_password_here@postgres-write:5432/auth_db?sslmode=disable
DB_READ_URL=postgres://auth_user:your_password_here@postgres-read:5432/auth_db?sslmode=disable
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
