APP_NAME=api-read
APP_ENV=development
APP_PORT=8081
DB_READ_URL=postgres://auth_user:your_password_here@postgres-read:5432/auth_db?sslmode=disable
REDIS_URL=redis:6379
TLS_CERT_PATH=/etc/ssl/certs/server.crt
TLS_KEY_PATH=/etc/ssl/certs/server.key
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
